<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://worldofwine.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>worldofwine.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WorldOfWine</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WorldOfWine</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=bgipav2uur.database.windows.net;Initial Catalog=WorldOfWine_db;User ID=winestore;Password=Xsphere1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WineStore.Models.ApplicationDbContext, WineStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WineStore" Order="2" Enabled="False">
          <Destination Path="Data Source=bgipav2uur.database.windows.net;AttachDbFilename=H:\WorldOfWine\WineStore\WineStore\App_Data\store.mdf;Persist Security Info=False;User ID={winestore};Password={xsphere!};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WineStore.Models.ProductContext, WineStore" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=bgipav2uur.database.windows.net;Initial Catalog=WorldOfWine_db;User ID=winestore;Password=Xsphere1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WineStore-Web.config Connection String">
      <ParameterValue>Data Source=bgipav2uur.database.windows.net;AttachDbFilename=H:\WorldOfWine\WineStore\WineStore\App_Data\store.mdf;Persist Security Info=False;User ID={winestore};Password={xsphere!};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WineStore" />
  </ItemGroup>
</Project>